.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;

  &__weather-icon {
    width: 60px;
  }

  &__temp-range {
    display: flex;
    gap: 4px;
  }
}
