@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  @include keyframes(fadeIn) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @include animate(fadeIn, 0.5s, ease-in, 1);
}
.animation-container {
  position: relative;
  overflow: hidden;
}

.animation-common {
  @include keyframes(slide) {
    0% {
      transform: translateY(50%);
    }
  }
  @include animate(slide, 0.3s, linear, 1);
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

[data-tooltips] {
  position: relative;
}

[data-tooltips]::after {
  content: attr(data-tooltips);
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  white-space: nowrap;
  width: max-content;
  padding: 5px 7px;
  font-size: 17px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

[data-tooltips]:hover::after {
  top: calc(100% + 10px);
  opacity: 1;
  visibility: visible;
}
