.main {
  padding: 35px;
  background-color: #f6f6f8;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__navbar {
    display: flex;
    justify-content: space-between;

    &__forecast {
      display: flex;
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &__temperature {
      display: flex;
      gap: 10px;
      font-size: 20px;
      &--circle {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow;
        border-radius: 50%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__forecast {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    &__daily-detail-forecast {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
}
