.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;

  &__temp-range {
    display: flex;
    gap: 4px;
    color: #a8a8a8;

    &__max-temp {
      color: black;
    }
  }
}
